<<<<<<< HEAD
<% if current_user && @service.user == current_user || current_user.has_role?(:admin) %>
<section class="hero">
  <div class="column has-text-left is-3 is-offset-1">
    <%= form_for @service do |f| %>

      <div class="Edit is-centered">
        <h3 class="logo has-text-green is-size-4">Edit Service</h3>
        <br />
        <form>
          <div class="field is-size-5">
            <%= f.label :name %>
            <div class="control">
              <input class="input is-medium is-squared" <%= f.text_field :name %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :description %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.text_field :description %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :capacity %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.number_field :capacity %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :price %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.number_field :price %>
            </div>
          </div>


          <div>
            <%= f.submit %>
          </div>

        </form>
        <br>

      </div>
      </div>
      </div>
      </section>
    <% end %>
<% end %>



=======
<h1>Edit Service</h1> <br/>

<% if current_user && @service.user == current_user || current_user.has_role?(:admin) %>
    <%= form_for @service do |f| %>
        <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </div>
        <div>
            <%= f.label :capacity %>
            <%= f.number_field :capacity %>
        </div>
        <div>
            <%= f.label :price %>
            <%= f.number_field :price %>
        </div>
        <div> <br>
            <%= f.submit %>
        </div>
    <% end %>
<% else %>
    <h2> You're either not logged in or this service isn't yours to edit. </h2>
<% end %>

>>>>>>> d3a47263818cb28622c875f5f4cef476fa44eded


