<% if current_user && @service.user == current_user || current_user.has_role?(:admin) %>
<section class="hero">
  <div class="column has-text-left is-3 is-offset-1">
    <%= form_for @service do |f| %>

      <div class="Edit is-centered">
        <h3 class="logo has-text-green is-size-4">Edit Service</h3>
        <br />
        <form>
          <div class="field is-size-5">
            <%= f.label :name %>
            <div class="control">
              <input class="input is-medium is-squared" <%= f.text_field :name %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :description %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.text_field :description %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :capacity %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.number_field :capacity %>
            </div>
          </div>
          <br />
          <div class="field is-size-5">
            <%= f.label :price %>
            <div class="control">
              <input class="input is-medium is-squared"<%= f.number_field :price %>
            </div>
          </div>


          <div>
            <%= f.submit %>
          </div>

        </form>
        <br>

      </div>
      </div>
      </div>
      </section>
    <% end %>
<% end %>





