<h1>Service: <%= @service.name %></h1> 
<h2>Created by: <%= @service.user.name %></h2>

<%= link_to "Back", services_url %> <br/><br/>


<h2>Description: <%= @service.description %></h2>
<h3>Capacity: <%= @service.capacity %></h3>
<h3>Price: <%= @service.price %></h3>
<h3>Rating: <%= @service.rating %></h3>
<h3>Comunas it covers:</h3>
<% @service.comunas.each do |comuna| %>
<h3>><%= comuna.name %></h3>
<% end %>
<h3>Reviews:</h3>
<%= link_to "Write a review", new_scomment_url %> <br/><br/>
<% @service.scomments.each do |comment| %>
  <h3>><%= comment.content %></h3>
<% end %>





