<!DOCTYPE html>
<html lang="en">

<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Parties
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" <%= link_to 'Search for a party', parties_url %>
          </a>
          <a class="navbar-item" <%= link_to "Create Party", new_party_url %>
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Services
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" <%= link_to 'view services', services_url %>
          </a>
          <a class="navbar-item" <%= link_to "Create Service", new_service_url %>
          </a>
        </div>
      </div>

      <% if not current_user %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" <%= link_to 'Log in', new_user_session_path %>
              </a>
              <a class="button is-primary" <%= link_to 'Sign up', new_user_registration_path %>
              </a>
            </div>
          </div>
        </div>

      <% else %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Profile
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              View profile
            </a>
            <a class="navbar-item" <%= link_to "Edit Profile", edit_user_registration_path %>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
            </a>
          </div>
        </div>
        </div>


      <% end %>
      </div>
  </div>
</nav>

<h1>Edit Party</h1> <br/>


<% if (current_user && @party.user == current_user) || ( current_user && current_user.has_role?(:admin)) %>
    <%= form_for @party do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </div>
        <div>
            <%= f.label :address %>
            <%= f.text_field :address %>
        </div>
        <div>
            <%= f.label :capacity %>
            <%= f.number_field :capacity %>
        </div>
        <div>
            <%= f.label :cost %>
            <%= f.number_field :cost %>
        </div>
        <div>
            <%= f.label :Active_participant_search? %>
            <%= f.check_box :search %>
        </div>
        <div>
          <%= f.label :Over %>
          <%= f.check_box :over%>
        </div>

        <%= fields_for(@all_comunas) do |c| %>
            <div>
                <%= c.label "Comunas it belongs to" %><br />
                <%= collection_select(:comunas, :id, Comuna.all, :id, :name, {}, {:multiple => false}) %>
            </div>
        <% end %>
        <%= fields_for(@contracts) do |c| %>
            <div>
                <%= c.label "Hired services" %><br/>
                <%= collection_select(:services, :id, Service.all, :id, :name, {}, {:multiple => true}) %>
            </div>
        <% end %>
        <div>exit
            <%= f.submit %>
        </div>
    <% end %>
<% else %>
    <h2> You're either not logged in or this party isn't yours to edit. </h2>
<% end %>
