<h1>Edit Party</h1> <br/>

<% if (current_user && @party.user == current_user) || ( current_user && current_user.has_role?(:admin)) %>
    <%= form_for @party do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </div>
        <div>
            <%= f.label :address %>
            <%= f.text_field :address %>
        </div>
        <div>
            <%= f.label :capacity %>
            <%= f.number_field :capacity %>
        </div>
        <div>
            <%= f.label :cost %>
            <%= f.number_field :cost %>
        </div>

        <%= fields_for(@all_comunas) do |c| %>
            <div>
                <%= c.label "Comuna it belongs to" %><br />
                <%= collection_select(:comunas, :id, Comuna.all, :id, :name, {}, {:multiple => false}) %>
            </div>
        <% end %> <br>
        <div>
            <%= f.submit %>
        </div>
    <% end %>
<% else %>
    <h2> You're either not logged in or this party isn't yours to edit. </h2>
<% end %>
