<% if current_user && @party.user == current_user  %>
  <section class="hero">
    <div class="column has-text-left is-3 is-offset-1">
      <%= form_for @party do |f| %>

        <div class="Edit is-centered">
          <h3 class="logo has-text-green is-size-4"><strong>Edit Party</strong></h3>
          <br />
          <form>
            <div class="field is-size-5">
              <%= f.label :title %>
              <div class="control">
                <input class="input is-medium is-squared" <%= f.text_field :title %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :description %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.text_field :description %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :address %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.text_field :address %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :capacity %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.number_field :capacity %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :cost %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.number_field :cost %>
              </div>
            </div>

            <div class="control"> <br>
              <button class="button is-black">Submit</button>
            </div>

          </form>
          <br>

        </div>
        </div>
        </div>
        </section>
      <% end %>
<% end %>


