<% if current_user && @party.user == current_user || current_user.has_role?(:admin) %>
  <section class="hero">
    <div class="column has-text-left is-3 is-offset-1">
      <%= form_for @party do |f| %>

        <div class="Edit is-centered">
          <h3 class="logo has-text-green is-size-4">Edit Party</h3>
          <br />
          <form>
            <div class="field is-size-5">
              <%= f.label :title %>
              <div class="control">
                <input class="input is-medium is-squared" <%= f.text_field :title %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :description %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.text_field :description %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :address %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.text_field :address %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :capacity %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.number_field :capacity %>
              </div>
            </div>
            <br />
            <div class="field is-size-5">
              <%= f.label :cost %>
              <div class="control">
                <input class="input is-medium is-squared"<%= f.number_field :cost %>
              </div>
            </div>

<<<<<<< HEAD

            <div>
              <%= f.submit %>
            </div>

          </form>
          <br>

=======
<% if (current_user && @party.user == current_user) || ( current_user && current_user.has_role?(:admin)) %>
    <%= form_for @party do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_area :description %>
        </div>
        <div>
            <%= f.label :address %>
            <%= f.text_field :address %>
        </div>
        <div>
            <%= f.label :capacity %>
            <%= f.number_field :capacity %>
        </div>
        <div>
            <%= f.label :cost %>
            <%= f.number_field :cost %>
        </div>
        <div> <br>
            <%= f.submit %>
>>>>>>> d3a47263818cb28622c875f5f4cef476fa44eded
        </div>
        </div>
        </div>
        </section>
      <% end %>
<% end %>


