<h1>Available Parties</h1>
<%= link_to "Create Party", new_party_url %>

<table>
    <tr>
        <thead>
            <th>Name</th>
        </thead>
    </tr>
        <% @parties.each do |party| %>
    <tr>
        <td><%= party.title %></td>
        <td>
            <%= link_to "Show", party %>
            <%= link_to "Edit", edit_party_path(party) %>
            <%= link_to "Delete", party, method: :delete, data: { confirm: "Do you really want to delete this Party?"} %>
        </td>
    </tr>
        <% end %>
</table>

