<h1 class="title">New Party</h1>
<%= form_with(model: @party, local: true) do |f| %>

  <% if @party.errors.any? %>
  <div id="error_explanation">
    <b><%= pluralize(@party.errors.count, "error") %> prohibited this party from being created:</b>
    <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <br/>
  
  <div>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :address %> <br/>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :capacity %> <br/>
    <%= f.number_field :capacity %>
  </div>
  <div>
    <%= f.label :cost %> <br/>
    <%= f.number_field :cost %>
  </div> <br/>
  <%= fields_for(@all_comunas) do |c| %>
    <div>
        <%= c.label "Comuna" %><br />
        <%= collection_select(:comuna, :id, Comuna.all, :id, :name, {include_blank: true}) %>
    </div>
  <% end %>
  <br/>
  <div>
    <%= f.submit "Create party!"%>
  </div>
<% end %>

