<% if current_user %>
<section class="hero" data-aos="fade-in">
  <div class="columns is-mobile">
    <div class="column is-5 is-offset-1">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-size-3">
            <%= @party.title %>
          </p>
        </header>
        <div class="card-content ">
          <div class="content is-size-5">
            <%= @party.description %>
          </div>
          <div class="content is-size-5"><strong>Address:</strong>
             <%= @party.address %>, <%= @party.comuna.name %> <br>
            <strong>Capacity:</strong> <%= @party.capacity %> <br>
            <strong>Cost:</strong> <%= @party.cost %> <br>
          </div>
          <div class="content is-size-5">
            <% if @party.user_id == current_user.id || current_user.has_role?(:admin) %>
              <% if @party.search %>
                <strong>Search state:</strong> On going
              <% else %>
                <strong>Search state:</strong> Terminated
              <% end %> <br/>
            <% end %>
          </div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= image_tag('picture.png') %>
              </figure>
            </div>
            <div class="media-content">
              <a class="title is-size-4" <%= link_to "#{@party.user.name}", user_path(@party.user.id) %></a><br/>
              <p class="subtitle is-6"><%= @party.user.age %></p>
            </div>
          </div>
        </div>
      </div>
      <br><br>

      <% if @party.search && @party.user_id != current_user.id %>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-size-3">
            Your Offers
          </p>
        </header>
        <div class="card-content ">
          <div class="content is-size-5">
            <% if !user_is_interested(current_user, @party)   %>
            Like what you see? <br>
            Submit how much you would be willing to pay to attend this awesome party!
              <%= form_with model: [ @party, @party.interesteds.build ], local: true do |form| %> <br/><br/>
                <%= form.number_field :offer %>
                <%= form.submit "Submit offer" %>
              <% end %>
            <% else  %>
              <% @party.interesteds.each do |interested| %>
                <% if interested.user_id == current_user.id   %>
                  Your current offer is: $<%= interested.offer %>
                <% end %>
              <% end %>

            <% end %>
          </div>
        </div>
        <footer class="card-footer">
            <% if user_is_interested(current_user, @party)  %>
              <% @party.interesteds.each do |interested| %>
                <% if interested.user_id == current_user.id  %>
                  <a class="card-footer-item" <%= link_to "Edit", edit_interested_path(interested) %> </a>
                  <a class="card-footer-item" <%= link_to "Delete", interested, method: :delete, data: { confirm: "Do you really want to delete this interestation?"} %> </a>
                <% end %>
              <% end %>
            <% end %>
        </footer>
      </div>

      <% elsif @party.search && @party.user_id == current_user.id && how_much_money(@party) > 0 %>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-size-3">
              Offered
            </p>
          </header>
          <div class="card-content ">
            <div class="content is-size-5">
              Users have offered a total of $<%= how_much_money(@party) %> to attend your party.
            </div>
          </div>
        </div>

      <% end %>
       <br><br>
      <br><br>
    </div>

    <% if @party.search %>
    <div class="column is-4 is-offset-1">
      <% if current_user && current_user == @party.user || current_user && current_user.has_role?(:admin) %>
        <div class="level">
        <% if how_much_money(@party) >= @party.cost %>
            <div class="level-item has-text-centered">
              <div>
                <a class="button is-medium is-link" <%= link_to 'Close and notify', close_and_notify_party_path(@party.id), method: :post, class: 'btn primary' %> </a>
              </div>
            </div>
          <% end %>
          <div class="level-item has-text-centered">
            <div>
              <a class="button is-medium is-black" <%= link_to "Edit", edit_party_path(@party) %> </a>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <a class="button is-medium is-light" <%= link_to "Delete", @party, method: :delete, data: { confirm: "Do you really want to delete this party?"} %> </a>
            </div>
          </div>
        </div>
        <br><br>
      <% end %>
      <div class="card">
        <header class="card-header ">
          <% if !@party.services.empty? %>
            <p class="card-header-title hast-text-centered is-size-3">Hired services:</p>
          <% else %>
            <p class="card-header-title is-size-4"> No services hired yet!</p>
          <% end %>
        </header>
        <div class="card-content ">
          <% if !@party.services.empty? %>
            <% @party.services.each do |service| %>
              <a class="content is-size-5" <%= link_to service.name, service_path(service) %></a><br/>
            <% end %>
          <% end %>
        </div>
        <footer class="card-footer">
          <% if @party.search && @party.user_id == current_user.id %>
            <a class="card-footer-item"  <%= link_to "Hire service", services_path %> </a>
            <br/> <br/>
          <% end %>
        </footer>
      </div>
      <br><br>
      <div class="card">
        <header class="card-header ">
          <% if @party.search && @party.user_id == current_user.id %>
            <% if !@party.interesteds.empty? %>
              <p class="card-header-title is-size-4">Users who've made offers to attend:</p>
            <% else %>
              <p class="card-header-title is-size-4">No offers for your party yet!</p>
            <% end %>
          <% end %>
        </header>
        <div class="card-content ">
          <% if @party.search && @party.user_id == current_user.id %>
            <% if !@party.interesteds.empty? %>
              <% @party.interesteds.each do |interested| %>
                <a class="content is-size-5"  <%= link_to  User.find(interested.user_id).name , user_path(User.find(interested.user_id).id) %> </a>
                <br/>
              <% end %>
            <% end %>
          <% else %>
            <% if how_much_interesteds(@party) == 0%>
              <p class="content is-size-5"> No users have made offers to attend this party. </p>
            <% else %>
              <% if how_much_interesteds(@party) == 1%>
                <p class="content is-size-5"> <%= how_much_interesteds(@party)%> user has made an offer to attend this party.</p>
              <% else %>
                <p class="content is-size-5"> <%= how_much_interesteds(@party)%> users have made offers to attend this party.</p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>

  <% if @party.ended %>
    <section class="section">
      <div class="container has-text-left">
        <h2 class="title">Reviews</h2>
        <% if current_user != @party.user && current_user.attendees.include?(@party) %>
          <article class="media">
            <div class="media-content">
              <%= form_with model: [ @party, @party.partyreviews.build ], local: true do |form| %>
                <div class="field">
                  <p class="control">
                    <textarea class="textarea" placeholder="Add a comment..." <%= form.text_area :body %> </textarea>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button"><%= form.submit %></button>
                  </p>
                </div>
              <% end %>
            </div>
          </article>
        <% end %>
        <% if !@party.partyreviews.empty? %>
          <% @party.partyreviews.each do |comment| %>
            <% if comment.body %>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= image_tag('picture.png') %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                      <strong><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></strong> <br>
                      <%= comment.body %> <br>
                      <% if current_user %>
                        <% if current_user && current_user == comment.user || current_user.has_role?(:admin) %>
                          <small><a><%= link_to 'Delete review', [comment.party, comment],
                                                method: :delete,
                                                data: { confirm: 'Are you sure?' } %></a>
                        <% end %>
                      <% end %>
                  </div>
                </div>
              </article>
            <% end %>
          <% end %>
        <% else %>
          <h2 class="subtitle">No reviews yet</h2>
        <% end %>
      </div>
    </section>
  <% end %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/showcase.js"></script>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
      AOS.init({
          easing: "ease-out",
          duration: 800,
      });
  </script>


<% end %>