<h1>Party: <%= @party.title %></h1>

<h2>Description: <%= @party.description %></h2>
<h3>Address: <%= @party.address %></h3>
<h3>Comuna: <%= @party.comuna.name %></h3>
<h3>Cost: <%= @party.cost %></h3>
<% if @party.search %>
    <h3>Search state: On going</h3>
<% else %>
    <h3>Search state: Terminated</h3>
<% end %>
<h3>Hired services:</h3>
<% @party.services.each do |service| %>
<h3>><%= service.name %></h3>
<% end %>

