<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %> <br/>

<h1>Party: <%= @party.title %></h1>
<h2>Created by: <%= @party.user.name %></h2>
<h2>Description: <%= @party.description %></h2>
<h3>Address: <%= @party.address %></h3>
<h3>Comuna: <%= @party.comuna.name %></h3>
<h3>Capacity: <%= @party.capacity %></h3>
<h3>Cost: <%= @party.cost %></h3>
<% if @party.search %>
    <h3>Search state: On going</h3>
<% else %>
    <h3>Search state: Terminated</h3>
<% end %> <br/> 


<% if !@party.services.empty? %>
  <h3>Hired services:</h3> 

  <% @party.services.each do |service| %>
  <h3>><%= link_to service.name, service_path(service) %></h3> <br/> 
  <% end %>

<% else %>
<h3>No services hired yet!</h3>
<% end %> 

<% if current_user  %>
    <% if @party.search && @party.user_id == current_user.id %>
        <%= link_to "Hire service", services_path %> <br/> <br/> 
    <% end %>
<% end %>

<% if current_user  %>
    <% if @party.search && @party.user_id != current_user.id %>
        <h2>Like what you see?</h2>
        <p>Submit how much you would be willing to pay to attend this awesome party!</p>
        <%= form_with model: [ @party, @party.interesteds.build ], local: true do |form| %>
            <p><%= form.label :offer %></p>
            <p><%= form.number_field :offer %></p>
            <%= form.submit "Submit offer" %>
        <% end %>
    <% end %>
<% else %>
    <h2>You need to be logged in to create a review.</h2>
<% end %>
</br>





