<% if !current_user %>
<!DOCTYPE html>
  <html lang="en">

  <body>
  <!-- Begin Preloader -->
  <div class="preloader-wrapper">
    <div class="preloader">
      <img alt="" />
    </div>
  </div>
  <!-- End Preloader-->

  <!-- Hero -->
  <section id="hero" class="hero is-medium" >
    <div class="hero-head">
      <nav class="navbar">
        <div class="container" >
          <div class="navbar-brand">
            <a class="navbar-item">
              <h3 class="logo has-text-green is-size-4" >SATURNALITY</h3>
            </a></div>

          <div class="navbar-menu">
            <div id="navbarBasicExample" class="navbar-menu">

              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                      <a class="button is-black" <%= link_to 'Sign up', new_user_registration_path %></a>

                    <a class="button is-light" <%= link_to 'Sign in', new_user_session_path %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <!-- END Hero -->

  <div class="header-wrapper" id="home">
    <!-- Begin Hero -->
    <section class="hero is-medium">
      <!-- Begin Mobile Nav -->
      <!-- End Mobile Nav -->
      <!-- Begin Hero Content-->

      <div class="hero-body" >
        <div class="container has-text-centered">
          <h1 class="subtitle">Welcome to</h1>
          <h2 class="title is-size-1">SATURNALITY</h2>
          <h1 class="subtitle profession">The best way to party</h1>
          <%= image_tag('undraw_having_fun_iais.png') %>
        </div>
      </div>
      <!-- End Hero Content-->

    </section>
    <!-- End Hero -->
  </div>
  <!-- End Header -->

  <!-- Begin Main Content -->
  <div class="main-content">
    <!-- Begin About Me Section -->
    <div class="section-light about-me" id="about-me">
      <div class="container">
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title is-size-1" data-aos="fade-in">Plan a party</h1>
        </div>
        <div class="columns is-multiline">
          <div
            class="column is-6 has-vertically-aligned-content"
            data-aos="fade-right">
            <p class="is-larger">
              &emsp;&emsp;<strong>
            </strong>
            </p>
            <br/>
            <h1 class="is-size-4 has-text-justified">Organize a party in few simple steps! Just set the location, amout of 
            attendees you wish to have and price, we'll handle the rest! You may also select different services to hire for your 
            event in order to have the best experience ever.
              <br/>
              <br/>
              If you are just looking to have a great time, you can easily browse through the app and find the best
              parties in town.</h1>
            <br/>
            <div class="is-divider"></div>

          </div>
          <div class="column is-6 right-image " data-aos="fade-left">
            <img
            <%= image_tag('undraw_collaborators_prrw.png') %>
          </div>
        </div>
      </div>
    </div>
    <!-- End About US Content -->
    <br/><br/><br/><br/><br/><br/>
    <!-- Begin About Me Section -->
    <div class="section-light about-me" id="about-me">
      <div class="container">
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title is-size-1" data-aos="fade-in">Offer a service</h1>
        </div>
        <div class="columns is-multiline">
          <div class="column is-6 right-image " data-aos="fade-right">
            <img
            <%= image_tag('undraw_forms_78yw.png') %>
          </div>
          <div
            class="column is-6 has-vertically-aligned-content"
            data-aos="fade-left"
          >
            <p class="is-larger">
              &emsp;&emsp;<strong>
            </strong
            >
            </p>
            <br />
            <h1 class="is-size-4 has-text-justified">Because we want to offer you the best experience, once you've joined 
            our community, you can list a service for parties to hire! Just fill out the service registration form
            and wait for it to be approved. Now you can earn money as other users hire your service for their parties!</h1>
            <div class="is-divider"></div>

          </div>

        </div>
      </div>
    </div>
    <!-- End About US Content -->
    <br/><br/><br/><br/><br/><br/>
    <div class="section-dark resume">
      <div class="container">
        <div
          class="columns is-multiline"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">
              Join us now!
            </h1>
          </div>
          <div class="column is-10 has-text-centered is-offset-1">
            <div class="has-text-centered">
              <a class="button is-black" <%= link_to 'Sign up', new_user_registration_path %></a>
              <a class="button is-light" <%= link_to 'Sign in', new_user_session_path %></a>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Main Content -->

  <!-- Begin Footer -->

  <!-- End Footer -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/showcase.js"></script>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
      AOS.init({
          easing: "ease-out",
          duration: 800,
      });
  </script>


<% else %>


  <section class="hero is-large">
    <br/><br/>
    <div class="container has-text-centered" data-aos="fade-right">
      <h1 class="subtitle">Welcome to Saturnality</h1>
      <h2 class="title is-size-1"><%= current_user.name %> </h2> <br>
    </div><br/><br/><br/>


    <div class="columns is-multiline is-mobile is-centered" >
      <div class="column is-one-fifth " data-aos="fade-left">
        <a class="button is-block is-fullwidth is-black is-medium is-rounded" <%= link_to "Search Parties", parties_path %> </a>
      </div>
      <div class="column is-one-fifth  " data-aos="fade-left">
        <a class="button is-block is-fullwidth is-black is-medium is-rounded" <%= link_to "Create Party", new_party_path %> </a>
      </div>
    </div>



    <br/><br/><br/>
    <br/><br/><br/>
    <br/><br/><br/>
    <br/><br/><br/>

  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/showcase.js"></script>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
      AOS.init({
          easing: "ease-out",
          duration: 800,
      });
  </script>
<% end %>





