
<% if !current_user %>
    <h1>You're not currently logged in</h1>
    <p>Nota al PO corrector: Debes estar logged in para poder crear, editar y eliminar entidades, de lo contrario, solo se muestran. Adicionalmente, hay CRUD de comunas pero no es accesible porque no le encontramos mucho el sentido, ya que en las aplicaciones normalmente estas no son manipulables por los usuarios. Hay algunas comunas que ya estan cargadas para probarlas, pero si quieres puedes revisar el CRUD en el código.</p>
    <%= link_to 'Sign up', new_user_registration_path %> <br/>
    <%= link_to 'Log in', new_user_session_path %> <br/><br/>
    <%= link_to 'Parties', parties_url %> <br/>
    <%= link_to 'Services', services_url %>
<% else %>
    <h1>Hello, <%= current_user.name %> </h1> 
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %> <br/><br/><br/>
    <%= link_to 'Parties', parties_url %> <br/>
    <%= link_to 'Services', services_url %> 
    <%= image_tag('picture.png', width: "200") %>
    <%= link_to "Edit Profile", edit_user_registration_path %> <br/><br/><br/>
<% end %>



