<h1>Edit Review</h1> <br/>
<%= link_to "Back", scomments_url %> <br/><br/>

<% if current_user && @scomment.user == current_user || current_user.has_role?(:admin) %>
  <%= form_for @scomment do |f| %>
    <div>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>
    <%= fields_for(@all_services) do |c| %>
      <div>
        <%= c.label "Service" %><br />
        <%= collection_select(:service, :id, Service.all, :id, :name, {include_blank: true}, {:multiple => false}) %>
      </div>

    <% end %>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <h2>You're either not logged in or this review isn't yours to edit.</h2>
<% end %>
