
<section class="hero is-fullheight" data-aos="fade-in">
<div class="columns is-mobile">
  <div class="column is-half is-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <%= image_tag('picture.png', width: 150) %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= @user.name %></p>
            <p class="subtitle is-5"><%= @user.age%>
              <br>
              <%= @user.email%>
              <br>
              <%= @user.phone%>
            </p>
          </div>
        </div>
        <% if current_user == @user %>
          <footer class="card-footer">
            <a class="card-footer-item" <%= link_to "Edit Profile", edit_user_registration_path %> </a>
            <a class="card-footer-item" <%= link_to "My Parties", mypartiesshow_path %> </a>
            <a class="card-footer-item" <%= link_to "My party offers", myinterestedshow_path %> </a>
            <a class="card-footer-item">My services</a>
          </footer>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>

