<section class="section">
  <div class="container has-text-centered" data-aos="fade-in">
    <h2 class="title is-size-1">My Parties</h2>
    <% if @my_parties.empty? %>
      <h3 class="subtitle is-size-5"> You have no parties at the moment.</h3>
    <% end %>
  </div>
</section>

<div class="columns is-multiline is-mobile">
  <% @my_parties.each do |party| %>
    <div class="column is-one-quarter ">
      <div class="card">
        <header class="card-header">
          <a class="card-header-title is-size-3" <%= link_to "#{party.title}", party %></a>
        </header>
        <div class="card-content">
            <div class="content">
              <%= form_for party do |f| %>
                <% if !party.ended %>
                <div>
                  <%= f.label :Search %>
                  <%= f.check_box :search%>
                </div>
                <div>
                  <%= f.label :Ended %>
                  <%= f.check_box :ended%>
                </div>
                <div>
                  <%= f.submit %>
                </div>
              <% else %>
                <h4>Your party already ended.</h4>
              <% end %>
            <% end %>
            </div>
        </div>
        <footer class="card-footer">
          <% if !party.ended %>
            <a class="card-footer-item" <%= link_to "Edit", edit_party_path(party) %> </a>
            <a class="card-footer-item"  <%= link_to "Delete", party, method: :delete, data: { confirm: "Do you really want to delete this Party?"} %></a>
          <% end %>
        </footer>
      </div>
    </div>
  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>
</html>


