<% if !current_user %>
<!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Grupo6Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/0ec7801840.js"></script>
  </head>

  <% else %>

  <head>
    <title>Grupo6Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/0ec7801840.js"></script>
  </head>

  <!-- Hero -->
  <section id="hero" class="hero is-medium" >
    <div class="hero-head">

      <nav class="navbar">
        <div class="container" >
          <div class="navbar-brand">
            <a class="navbar-item">
              <h3 class="logo has-text-green is-size-4">SATURNALITY</h3>
            </a></div>

          <div class="navbar-menu">
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" <%= link_to 'Home', static_pages_home_url %>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Parties
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item" <%= link_to 'Search for a party', parties_url %>
                    </a>
                    <a class="navbar-item" <%= link_to "Create Party", new_party_url %>
                    </a>
                  </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Services
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item" <%= link_to 'view services', services_url %>
                    </a>
                    <a class="navbar-item" <%= link_to "Create Service", new_service_url %>
                    </a>
                  </div>
                </div>
                <% if current_user.has_role?(:admin) %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Admin
                  </a>

                  <div class="navbar-dropdown">
                    <a class="navbar-item" <%= link_to 'Check Services', admin_path %>
                    </a>
                  </div>
                </div>
                <% end %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Profile
                  </a>


                  <div class="navbar-dropdown">
                    <a class="navbar-item" <%= link_to "My Parties", mypartiesshow_path %>
                    </a>
                    <a class="navbar-item" <%= link_to "My Interestation", myinterestedshow_path %>
                    </a>

                    <a class="navbar-item" <%= link_to "View Profile", user_path(current_user.id) %>
                    </a>
                    <a class="navbar-item" <%= link_to "Edit Profile", edit_user_registration_path %>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </nav>
    </div>
  </section>
  <!-- END Hero -->


  <br/><br/><br/>


<% end %>
<%= yield %>
<div class="footer">
  <p>
    <strong class="white"> <%= link_to 'SATURNALITY', static_pages_home_url %></strong> by Juan Jimenez, Victoria
    Sanchez, and Ami Ustilovsky
  </p>
</div>

</html>




